:root {
  font-family: "Jost", Sans-Serif;
  font-size: 12.5pt;
  --border-color: rgba(201, 165, 129, 0.44)
}
body {
  background-color: #0e1730;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.row2 {
  padding: 5px 0;
  border-top: var(--border-color) solid 1px;
  border-bottom: var(--border-color) solid 1px;
}
#banner {
  height: 60px;
}
a, span {
  color: #cecece;
  font-size: 1rem;
  text-decoration: none;
  padding: 15px 0;
}
nav {
  background-color: #0e1730;
  max-width: 1200px;
  margin: 0 auto;
}
.border-left, .border-right {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.border-left {
  border-left: var(--border-color) solid 1px;
  padding-left: 120px;
}
.border-right {
  border-right: var(--border-color) solid 1px;
  padding-right: 120px;
}
#bar-icon {
  padding: 0;
  font-size: 2rem;
  margin-left: 1rem;
}